:root {
  --line-color: #474747;
  --short-line-color: #a70000;
}

.forecast-hourly__container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 0.8rem 0;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
}

.forecast-hourly {
  border: 1px solid var(--line-color);
  border-radius: 10px;
  margin: 2px;
}
::-webkit-scrollbar {
  height: 0;
}

.forecast-hourly__time {
  display: inline-block;
  color: #ffffff;
  margin: 0rem;
  font-size: 0.7rem;
  border-bottom: 1px solid var(--short-line-color);
}

.forecast-hourly__day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.forecast-hourly__day {
  margin: 0;
}

.forecast-hourly__image-container {
  width: 80px;
  height: 60px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.forecast-hourly__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.forecast-hourly__temp {
  font-size: 1.3rem;
  margin: 0.3rem;
}

.forecast-hourly__temp-feel {
  font-size: 0.7rem;
}

.forecast-daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  border-bottom: 0.1px solid var(--line-color);
}

.fprecast-daily__date,
.forecast-daily__max-min {
  margin: 0;
  font-size: 1rem;
}

.forecast-daily__image-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.forecast-daily__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 71px;
}
